<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.lbpunion.unionpatcher</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright LBP Union 2024©</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleIconFile</key>
    <string>Icon.icns</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>CFBundleName</key>
    <string>UnionPatcher</string>
    <key>CFBundleExecutable</key>
    <string>LBPUnion.UnionPatcher.Gui.MacOS</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.14</string>
    <key>NSRequiresAquaSystemAppearance</key>
    <string>False</string>
  </dict>
</plist>
