on: [ push ]
name: Continuous Integration

# Inspired by Lighthouse's CI
# https://github.com/LBPUnion/project-lighthouse/blob/main/.github/workflows/ci.yml

jobs:
  test:
    name: Build for ${{ matrix.os.prettyName }}
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix: 
        os:
          - { prettyName: Windows, configurationName: Windows, extraArgs: "-r win-x64 --self-contained", buildPath: "Release/net6.0-windows/win-x64/publish"}
          - { prettyName: Linux, configurationName: Linux, extraArgs: "", buildPath: "Release/net6.0/publish"}
#          - { prettyName: MacOS, configurationName: Release, platform: osx-x64 }
    steps:
      - name: Cancel previous runs of this workflow
        uses: styfle/cancel-workflow-action@0.6.0
        with:
          access_token: ${{ github.token }}

      - name: Checkout
        uses: actions/checkout@v2

      - name: Install .NET 6.0
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: "6.0.x"
          
      - name: Compile for ${{ matrix.os.prettyName }}
        run: dotnet publish -c ${{ matrix.os.configurationName }} ${{ matrix.os.extraArgs }}
        
      - uses: actions/upload-artifact@v2
        with:
          name: UnionPatcher-${{ matrix.os.prettyName }}
          path: ${{ github.workspace }}/UnionPatcher.Gui.${{ matrix.os.prettyName }}/bin/${{ matrix.os.buildPath }}